.App {
  font-family: sans-serif;
  text-align: center;
}

.editor-container {
  width: 21cm; /* A4 kağıdının genişliği */
  height: 29.7cm; /* A4 kağıdının uzunluğu */
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 5%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.editor-input {
  min-height: 200px;
  outline: none;
}

.editor-placeholder {
  color: #aaa;
  position: absolute;
  pointer-events: none;
}

.toolbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.toolbar button {
  margin: 0 5px;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar button:hover {
  background-color: #e0e0e0;
}

.toolbar i {
  font-size: 16px;
}